@import "vars.module.scss";

.heroTitle {
    font-weight: 500;
}

.login_button {
    color: #{$hospital-walls};
    background: #{$deep-blue-hospital};
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}