h1 {
  font-size: 7.5em;
  margin: 15px 0px;
  font-weight: bold;
  color: var(--color-textAzul);
}

h2 {
  font-weight: bold;
  color: var(--color-textAzul);

}

p {
  color: var(--color-textAzul);

}

svg {
  color: var(--color-textAzul);
}

.content_error {
  display: flex;
  justify-content: center;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  body {
    display: block;
  }

  .container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}