.home {
    // height: 2000px;
    height: 100%;
    background-image: url(https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/QIAQ9Rd/videoblocks-male-doctor-with-checklist-animation-4k-video-animated_s-psbh2di_thumbnail-1080_01.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
  }